<section ng-controller="appController">
	<h2>Actions</h2>
	<div class="col-sm-6 col-sm-offset-3">
		
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Action</th>
				<th>Value</th>
				<th>Action Time</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="action in actions">
				<td>{{action.json_data.action}}</td>
				<td>{{action.json_data.value}}</td>
				<td>{{action.created_at | date:'dd-MM-yyyy HH:mm'}}</td>
			</tr>
		</tbody>
	</table>	
</section>